<section class="app flex-container" fxLayout="column" fxLayoutAlign="start stretch">
  <!-- this flex item takes the rest of the screen in height -->
  <mat-sidenav-container>

    <mat-toolbar color="primary" class="mat-elevation-z10">
        <button mat-button class="app-menu-button" (click)="sidenav.toggle()">
          <i class="material-icons">menu</i>
        </button>
        <span class="title">{{title}}</span>
        <span class="app-toolbar-filler"></span>
        <button mat-icon-button [mat-menu-trigger-for]="menu" align="end">
          <div *ngIf="auth.user | async as user">
            <img class="mat-toolbar-avatar" [src]="user.photoURL || 'assets/images/avatar.png'">
          </div>
          <div *ngIf="!(auth.user | async)">
            <img class="mat-toolbar-avatar" src="assets/images/avatar.png">
          </div>
        </button>
        <mat-menu #menu="matMenu" x-position="before" yPosition="below">
            <span mat-menu-item *ngIf="auth.user | async as user">
              {{user.displayName}}
            </span>
            <button mat-menu-item>
                <mat-icon> account_box </mat-icon>
                <span> Profile </span>
            </button>
            <button mat-menu-item>
                <mat-icon> settings </mat-icon>
                <span> Settings </span>
            </button>
            <span *ngIf="auth.user | async; then authenticated else guest"></span>
            <ng-template #authenticated>
              <button mat-menu-item (click)="logout()">
                  <mat-icon> exit_to_app </mat-icon>
                  <span> Logout </span>
              </button>
            </ng-template>
            <ng-template #guest>
              <button mat-menu-item routerLink="/login">
                  <mat-icon> lock_open </mat-icon>
                  <span>Login </span>
              </button>
            </ng-template>
        </mat-menu>
    </mat-toolbar>

    <mat-sidenav #sidenav mode="over" class="app-sidenav" color="primary" fxFlex="20">
      <header>
          <h1>ngFireStarter</h1>
      </header>

      <mat-nav-list class="app-nav-list">
        <a mat-list-item *ngFor="let view of views" routerLink="/{{view.link}}" (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>{{view.icon}}</mat-icon>
            <span flex></span>
            <span mat-line>{{view.name}}</span>
        </a>
      </mat-nav-list>


      <mat-toolbar>
      <mat-toolbar-row>
          <span>Account</span>
          <span class="app-toolbar-filler"></span>
          <mat-icon class="example-icon">account_circle</mat-icon>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <button mat-raised-button color="accent" class="app-sidebar-button" routerLink="/login" (click)="sidenav.toggle()">
              <mat-icon class="example-icon">verified_user</mat-icon>
              Login
            </button>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-sidenav>


  <div class="app-content">
    <router-outlet></router-outlet>
  </div>


  </mat-sidenav-container>

</section>

