<mat-toolbar color="primary">

  <button mat-icon-button (click)="toggleCollapse()" [ngClass]="{'is-active': show}">
    <mat-icon>menu</mat-icon>
  </button>

  <span routerLink="/" class="branding spacer">
    ngFireStarter
  </span>


  <button mat-button class="nav-button"
          routerLink="/locations"
          routerLinkActive="active">
    Locations
  </button>
  <button mat-button class="nav-button"
          routerLink="/events">
    Events
  </button>
  <button mat-button class="nav-button"
          routerLink="/uploads">
    Uploads
  </button>
  <button mat-button class="nav-button"
          routerLink="/login">
    Login
  </button>
  <button mat-icon-button
          routerLink="/settings">
    <mat-icon>settings</mat-icon>
  </button>

</mat-toolbar>
